header {
  height: 150px;
  background-color: rgb(240, 179, 168);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font: bold;
  font-family: serif;
  font-size: 2rem;
}

section {
  background-color: rgba(156, 101, 115, 0.918);
  height: 300px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

input {
  width: 200px;
  height: 30px;
  margin: 10px;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 100px;
  height: 40px;
  margin: 10px;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

footer {
  background-color: rgb(133, 96, 110);
  height: 100px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
