header {
  height: 100px;
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font: bold;
  font-family: serif;
  font-size: 2rem;
}

section {
  background-color: rgba(206, 240, 185, 0.918);
  height: 300px;
}

h2 {
  text-align: center;
}

footer {
  background-color: pink;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
